.login {
  background-image: linear-gradient(to bottom, #f97918c9, #fce1d097);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.login--container {
  width: 40rem;
  background-color: #fff;
  color: #2b2b2be7;
  box-shadow: 0 6px 20px #93939354;
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
  border: 2px solid #41414198;
  margin: 2rem 0 5rem 0;
  flex-direction: column;
  padding: 3.5rem;
}

.logo--container {
  display: flex; 
  justify-content: center;
}

.form--logo {
  height: 6rem;
}

.form--h1 {
  display: flex; 
  justify-content: center;
  font-size: 2rem;
  color: #3a3a3aee;
  margin-top: 2rem;
}

.login--container p {
  padding: 0.5rem 0;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.login--container input {
  /* display: inline-block;
  position: relative; */
  height: 3rem;
  border: none;
  background-color:#e2e1e197;
  border-radius: 0.3rem;
  padding-left: 0.8rem;
  box-shadow: insert 0 6px 20px #93939354;
  /* font-family: 'FontAwesome';
  content: '\f0e0'; */
}

/* .login--container input:after {
  font-family: 'FontAwesome';
  content: '\f0e0';
  position: absolute;
  right: 6px;
} */
/* .input--wrapper {
  position: relative;
} */

.form--btn {
  margin-top: 2rem;
  height: 3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: #f97918c9;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 6px 20px #93939354;
}

.form--btn:hover {
  background-color: #f97918bb;
}

.form--link {
  display: flex; 
  justify-content: flex-end;
  text-decoration: none;
  margin-top: 1.5rem;
  color: #2b2b2be7;
}

@media screen and (max-width: 960px) {
  .login--container {
    padding: 40px;
    max-width: 32rem;
  }
}