* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.home,
.educations,
.faq,
.login {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-image: linear-gradient(to bottom, rgba(239, 110, 110, 0.5), rgba(37, 132, 220, 0.345)),
    url('./components/assets/office.png');
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
}

.educations {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  padding: 100px;
}

.faq {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 50vh;
}

.login {
  background-image: url('./components/assets/bg-paper.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(31, 31, 31);;
  font-size: 100px;
}