* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.home,
.educations,
.faq,
.login,
.landing,
.news
 {
  display: flex;
  /* height: 90vh; */
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-image: linear-gradient(to bottom, rgba(249, 121, 24, 0.79), rgba(252, 225, 208, 0.591)), url('./components/assets/office.png');
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.educations {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  padding: 100px;
  height: 30vh;
}

.faq {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 30vh;
}

.login {
  background-image: linear-gradient(to bottom, rgba(249, 121, 24, 0.79), rgba(252, 225, 208, 0.591)), url('./components/assets/office.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 90vh;
}

/* .landing {
 
} */

.home {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  padding: 100px;
  height: 50vh;
}

.news {
  background-image: linear-gradient(to bottom, rgba(249, 121, 24, 0.79), rgba(252, 225, 208, 0.591)), url('./components/assets/office.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 90vh;
}